{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/css_home.css' %}">
    <title>Home</title>
</head>

<body>

    <header class="container-fluid flex bg_gradiente">
        <h1>Bem Vindo a <i>Segs Likes</i></h1>
    </header>
    <div class="container flex">
        <div class="container">
            <h3>Comprar Seguidores, Curtidas e Visualizações</h3>
            <p>Impulsione o seu perfil nas redes sociais com serviços de qualidade e um ótimo preço!</p>
        </div>
        <div class=" container div_img_logo flex">
            <img src="../static/img/insta.png" alt="">
            <img src="../static/img/facebook.png" alt="">
            <img src="../static/img/tiktok.png" alt="">
            <img src="../static/img/youtube.png" alt="">
            <img src="../static/img/twitter.png" alt="">
            <img src="../static/img/kwai.png" alt="">
        </div>
    </div>

    <div class="container-fluid flex bg_gradiente op">
        <h2>Selecione a Rede Social e o Serviço que você Deseja:</h2>
    </div>

    <div class="container-fluid cards flex">
        <div class="container card">
            <h5 style="color: #f2295b;">Instagram</h5>
            <div class="container flex itens">
                <div style="width: 18rem; " class=" flex">
                    <img class="img_rede w-75" src="../static/img/insta.png" alt="">
                </div>
                <div class="flex">
                    <div class="img_card">
                        <a href="seguidores_instagram"><img src="../static/img/seguidores-insta.png" alt=""></a>
                        <a href="seguidores_instagram" class="bnt_insta" >Seguidores</a>
                    </div>
                    <div class="img_card">
                        <a href="curtidas_instagram"><img src="../static/img/curtidas-insta.png" alt=""></a>
                        <a href="curtidas_instagram"class="bnt_insta">Curtidas</a>
                    </div>
                    <div class="img_card">
                        <a href="visualizacao_insta"><img src="../static/img/visualizacoes-insta.png" alt=""></a>
                        <a href="visualizacao_insta"  class="bnt_insta">Visualizações</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container card">
            <h5 style="color: #4471e8;">Facebook</h5>
            <div class="container flex itens">
                <div style="width: 18rem; " class="flex">
                    <img class="img_rede w-75" src="../static/img/facebook.png" alt="">
                </div>
                <div class="flex">
                    <div class="img_card">
                        <a href="seguidores_face"><img src="../static/img/seguidores-facebook.png" alt=""></a>
                        <a href="seguidores_face" class="bnt_face">Seguidores</a>
                    </div>
                    <div class="img_card">
                        <a href="curtidas_face"><img src="../static/img/curtidas-facebook.png" alt=""></a>
                        <a href="curtidas_face" class="bnt_face">Curtidas</a>
                    </div>
                    <div class="img_card">
                        <a href="visualizacao_face"><img src="../static/img/views-facebook.png" alt=""></a>
                        <a href="visualizacao_face" class="bnt_face" >Visualizações</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container card">
            <h5 style="color: #121212;">Tiktok</h5>
            <div class="container flex itens">
                <div style="width: 18rem; " class=" flex">
                    <img class="img_rede w-75" src="../static/img/tiktok.png" alt="">
                </div>
                <div class="flex">
                    <div class="img_card">
                        <a href="seguidores_tik"><img src="../static/img/seguidores-tiktok.png" alt=""></a>
                        <a href="seguidores_tik" class="bnt_tik">Seguidores</a>
                    </div>
                    <div class="img_card">
                        <a href="curtidas_tik"><img src="../static/img/curtidas-tiktok.png" alt=""></a>
                        <a href="curtidas_tik" class="bnt_tik">Curtidas</a>
                    </div>
                    <div class="img_card">
                        <a href="visualizacao_tik"><img src="../static/img/views-tiktok.png" alt=""></a>
                        <a href="visualizacao_tik" class="bnt_tik">Visualizações</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container card">
            <h5 style="color: #e80000;">Youtube</h5>
            <div class="container flex itens">
                <div style="width: 18rem; " class="flex">
                    <img class="img_rede w-75" src="../static/img/youtube.png" alt="">
                </div>
                <div class="flex">
                    <div class="img_card">
                        <a href=""><img src="../static/img/inscritos-youtube.png" alt=""></a>
                        <a href="#" class="bnt_you">Seguidores</a>
                    </div>
                    <div class="img_card">
                        <a href=""><img src="../static/img/curtidas-youtube.png" alt=""></a>
                        <a href="#" class="bnt_you">Curtidas</a>
                    </div>
                    <div class="img_card">
                        <a href=""><img src="../static/img/views-youtube.png" alt=""></a>
                        <a href="#" class="bnt_you">Visualizações</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container card">
            <h5 style="color: #00bbf0;">Twitter</h5>
            <div class="container flex itens">
                <div style="width: 18rem; " class=" flex">
                    <img class="img_rede w-75" src="../static/img/twitter.png" alt="">
                </div>
                <div class="flex">
                    <div class="img_card">
                        <a href=""><img src="../static/img/seguidores-twitter.png" alt=""></a>
                        <a href="#" class="bnt_twi">Seguidores</a>
                    </div>
                    <div class="img_card">
                        <a href=""><img src="../static/img/curtidas-twitter.png" alt=""></a>
                        <a href="#" class="bnt_twi">Curtidas</a>
                    </div>
                    <div class="img_card">
                        <a href=""><img src="../static/img/views-twitter.png" alt=""></a>
                        <a href="#" class="bnt_twi">Visualizações</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container card">
            <h5 style="color: #f9740a;">Kwai</h5>
            <div class="container flex itens">
                <div style="width: 18rem; " class="flex">
                    <img class="img_rede w-75" src="../static/img/kwai.png" alt="">
                </div>
                <div class="flex">
                    <div class="img_card">
                        <a href=""><img src="../static/img/seguidores-kwai.png" alt=""></a>
                        <a href="#"  class="bnt_kw">Seguidores</a>
                    </div>
                    <div class="img_card">
                        <a href=""><img src="../static/img/curtidas-kwai.png" alt=""></a>
                        <a href="#" class="bnt_kw">Curtidas</a>
                    </div>
                    <div class="img_card">
                        <a href=""><img src="../static/img/visualizacoes-kwai.png" alt=""></a>
                        <a href="" class="bnt_kw">Visualizações</a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>