{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styler.css' %}">
    <title>Visualizações Kwai</title>
</head>
<body>
    <div class="topo flex">
        <div class="container-fluid header flex">
            <a href="/" class="logo flex">
                <h1>Visualizações</h1>
                <h5>Segs Likes🚀</h5>
            </a>
            <p class="sloga">Comprar Visualizações Reais No Kwai</p>
        </div>
        <div class="container-fluid info flex-itens">
            <ul class="garantia">
                <li>100% de Garantia - Sem risco de bloqueio</li>
                <li>Ativação imediata após a compra</li>
                <li>Seguidores reais de qualidade</li>
                <li>Não é necessário informar a senha</li>
                <li>100% Sigiloso e de qualidade</li>
            </ul>
            <div style="width: 18rem;" class="flex">
                <img class="w-75" src="../../static/img/kwai.png" alt="">
            </div>
        </div>
        <div class="container-fluid info_preco ">
            <div class="logo_corpo flex">
                <h2 class="h2_preco">PREÇOS</h2>
                <p class="p_sloga">Temos os melhores preços do mercado para seu Kwai crescer</p>
            </div>
        </div>
    </div>
    <div class="container corpo flex" id="corpo">
        <!-- <div class="card">
            <div class="card_header">
                <p class="p1">500 SEGUIDORES</p>
                <p class="p2">SEGUIDORES BRASILEIROS E REAIS🚀</p>
            </div>
            <div class="class_corpo flex">
                <p class="p_preco" ><span class="spam_preco">R$</span> 9,90</p>
            </div>
            <div class="class_footer flex">
                <ul>
                    <li>Entrega Imediata</li>
                    <li>Seguidores Reais</li>
                    <li>Seguidores Brasileiros</li>
                    <li>Suporte Via WhatsApp</li>
                    <li>Garantia total - 100%</li>
                    <li>Não pedimos a sua senha</li>
                </ul>
                <button id="btn_comprar" class="btn btn-success">Comprar</button>
            </div>
        </div> -->
    </div>
    <footer class="container border">
        <h1 class="color">rodape</h1>
    </footer>
    <script src="{% static 'js/insta/visualizacao_insta.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>